<header class="masthead">
        <div class="container">
                <div class="masthead-subheading">DUNAMIS </div>
                <div class="masthead-heading text-uppercase">Passer de l'information à la transformation </div>
                <a class="btn btn-primary btn-xl text-uppercase" href="#services">Rejoins la communauté des gagneurs</a>
        </div>
</header>
        <!-- qui sommes nous-->
<section class="page-section" id="services">
        <div class="container">
            <div class="text-center">
                <h2 class="section-heading text-uppercase- text-purple">QUI SOMMES NOUS ? </h2>
                    <p class="section-subheading text-purple" >
                        L'ecole biblique Dunamis est une école de formation biblique en ligne qui a pour but de former des disciples de Christ, des hommes et des femmes qui connaissent la parole de Dieu et qui sont capables de l'appliquer dans leur vie quotidienne.</br>
                        Dunamis a pour vocation de partager l'evangile et de permettre au plus grand nombre d'avoir une relation personnelle avec Dieu, mais aussi de mettre à la disposition des apprenants, les outils nécessaires pour une vie chretienne épanouie dans tous les domaines de leur vie.
                    </p>
            </div>
        </div>
                <!-- presentation equipe-->

<section class="page-section" id="about">
        <div class="container">
            <div class="text-center ">
                <h2 class="section-heading text-uppercase">Presentation de l'Equipe</h2>
                    <h3 class="section-subheading text-muted">Nous vous presentons les hommes  et les femmes qui oeuvrent chaque jour pour la gloire de Dieu. </h3>
            </div>
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image"><img class="rounded-circle img-fluid" src="/img/team/patricia.jpg" width=20%
                                        alt="..." /></div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4>Patricia EBOUA </h4>
                                        <h4 class="subheading">Directrice de l'Ecole Biblique</h4>
                                        <h4>FONDATRICE</h4>
                                    </div>
                                    <div class="timeline-body">
                                        <p class="text-muted">
                                    Maman Patricia est une femme qui œuvre pour Dieu depuis plus de 20 ans. 
                                    Elle a suivi de nombreuses formations pastorales et théologiques, notamment sur les Mystères de Christ.
                                    Elle est passionnée de Dieu et par le partage de la Parole de Dieu. 
                                    Elle a fondé Dunamis Ecole Biblique Internationale dans le but d'offrir à toute personne intéressée, un enseignement lui permettant d'atteindre la maturité spirituelle, de vivre selon les standards divins et de relever les défis quotidiens. 
                                    Dunamis Ecole Biblique Internationale propose un programme d'enseignements variés qui aborde différents aspects de la Bible et de la vie chrétienne.
                                        </p>
                                    </div>
                                </div>
                            
                        </li>
</section>

<section class="page-section bg-light" id="team">
        <div class="container">
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="team-member">
                                        <img class="mx-auto rounded-circle" src="/img/team/alain.jpg"width=40% alt="..." />
                                        <h4>Alain CARON </h4>
                                        <p class="text-muted">Responsable Technique </p>
                    
                                    </div>
                    
                                    <div class="team-member">
                                        <img class="mx-auto rounded-circle" src="/img/team/alexandra.jpg" width=30% alt="..." />
                                        <h4>Alexandra EBOUA</h4>
                                        <p class="text-muted">Responsable du Groupe Les Gedeons </p>
                    
                                    </div>
                    
                                    <div class="team-member">
                                        <img class="mx-auto rounded-circle" src="/img/team/alice.jpg" width=40% alt="..." />
                                        <h4>Alice ETONGUE</h4>
                                        <p class="text-muted">Responsable du suivi des étudiants </p> 
                                    </div>
                                    <div class="team-member">
                                        <img class="mx-auto rounded-circle" src="/img/team/armelle.jpg" width=30% alt="..." />
                                        <h4>Armelle NTSA</h4>
                                        <p class="text-muted">Responsable Dunamis Amerique </p>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="team-member">
                                        <img class="mx-auto rounded-circle" src="/img/team/marthe.jpg" width=40% alt="..." />
                                        <h4>Marthe DJONE</h4>
                                        <p class="text-muted">Responsable des Baptêmes </p>
                    
                                    </div>
                    
                                    <div class="team-member">
                                        <img class="mx-auto rounded-circle " src="/img/team/clarisse.jpg" width=40% alt="..." />
                                        <h4>Clarisse NGOUL</h4>
                                        <p class="text-muted">Responsable du groupe DOXA </p>
                    
                                    </div>
                    
                                    <div class="team-member">
                                        <img class="mx-auto rounded-circle" src="/img/team/francois.jpg" width=40% alt="..." />
                                        <h4>François MOUANDJO</h4>
                                        <p class="text-muted">Responsable du Coaching </p>
                                    </div>
                    
                                    <div class="team-member">
                                        <img class="mx-auto rounded-circle" src="/img/team/frida.jpg" width=40% alt="..." />
                                        <h4>Frieda EBOUA </h4>
                                        <p class="text-muted">Community Manager </p>
                    
                                    </div>
                    
                                </div>
                                <div class="col-lg-4">
                                    <div class="team-member">
                                        <img class="mx-auto rounded-circle" src="/img/team/hortance.jpg" width=40% alt="..." />
                                        <h4>Hortence PENDA</h4>
                                        <p class="text-muted">Responsable des Programmes </p>
                    
                                    </div>
                    
                                    <div class="team-member">
                                        <img class="mx-auto rounded-circle" src="/img/team/yolly.jpg" width=40% alt="..." />
                                        <h4>Yolande CARON</h4>
                                        <p class="text-muted">Responsable Pôle Prière </p>
                    
                                    </div>
                    
                                    <div class="team-member">
                                        <img class="mx-auto rounded-circle" src="/img/team/charlotte.jpg" width=40% alt="..." />
                                        <h4>Charlotte GBATO</h4>
                                        <p class="text-muted">Responsable des pasteurs</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-8 mx-auto text-center">
                                    <p class="large text-muted">l'ensemble de l'équipe est à votre disposition..</p>
                                </div>
                            </div>
        </div>
</section>      
    