<footer id="footer" class="top-space bg-secondary">

		<div class="footer1">
			<div class="container">
				<div class="row">
					
					<div class="col-md-3 widget">
						<h3 class="widget-title">Contact</h3>
						<div class="widget-body">
							<p> Email :<br>
								<a href="mailto:#">dunamis@dunamis-ebi.com</a><br>
								<br>
                                adresse de courrier <br>  
								42 rue Paul Barennes 77100 Meaux
							</p>	
						</div>
					</div>

					<div class="col-md-3 widget">
						<h3 class="widget-title">Nous suivre</h3>
						<div class="widget-body">
							<p class="follow-me-icons">
								<a href=""><i class="fa fa-facebook fa-2"></i></a>
                                <a href=""><i class="fa fa-Instagramme fa-2"></i></a>
							</p>	
						</div>
					</div>

					<div class="col-md-6 widget">
						<h3 class="widget-title">Osée 4 : 6 </h3>
						<div class="widget-body">
							<p>
                                Mon peuple est détruit, parce qu’il lui manque la connaissance.
                            </p>
							
						</div>
					</div>
				</div> <!-- /row of widgets -->
			</div>
		</div>

		

					<div class="col-ms-3 widget">
						<div class="widget-body">
							<p class="text-center">
								Copyright &copy; 2023, Serge GBATO. Sujet de stage DWWM
							</p>
						</div>
					</div>

				</div> <!-- /row of widgets -->
			</div>
		</div>

	</footer>	